@page "{id:int}"
@model MensajeriaPaqueteria.Web.Pages.Clientes.DetailsModel
@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Cliente.Nombre</dd>

        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Cliente.Direccion</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Cliente.Telefono</dd>
    </dl>
</div>

<a asp-page="Edit" asp-route-id="@Model.Cliente.ClienteId" class="btn btn-warning">Editar</a>
<a asp-page="Delete" asp-route-id="@Model.Cliente.ClienteId" class="btn btn-danger">Eliminar</a>
<a asp-page="Index" class="btn btn-secondary">Volver</a>
