@page
@model MensajeriaPaqueteria.Web.Pages.Clientes.IndexModel
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1 class="text-primary">Lista de Clientes</h1>

<p>
    <a asp-page="Create" class="btn btn-success shadow-sm">➕ Agregar Cliente</a>
</p>

<table class="table table-hover shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>ClienteId</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Direccion</td>
                <td>@cliente.Telefono</td>
                <td>
                    <a asp-page="Details" asp-route-id="@cliente.ClienteId" class="btn btn-info btn-sm rounded-pill">🔍 Detalles</a>
                    <a asp-page="Edit" asp-route-id="@cliente.ClienteId" class="btn btn-warning btn-sm rounded-pill text-white">✏️ Editar</a>
                    <a asp-page="Delete" asp-route-id="@cliente.ClienteId" class="btn btn-danger btn-sm rounded-pill">🗑️ Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
